@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #0C1347;
  font-family: "Poppins", sans-serif !important;
}

/* over riding story page slider dots*/

.history-slider .slick-dots {
  bottom: -35px;
}

.history-slider .slick-slide{
  padding: 12px;
}

.history-slider .slick-dots li button:before {
  color: #000000;
  background: #000000;
  opacity: 1;
  border-radius: 100%;
}


.history-slider .slick-dots li.slick-active button:before {
  color: #c73238;
  background: #c73238;
  opacity: 1;
}

.upgrade-slider-arrow .icon {
stroke: #ececec;
  fill: transparent;
}

.blog-slider-arrow .icon {
  stroke: #000000;
}
/* navigation bar icon styling */
.navbar-container.nav-bar {
  background: #f5f5f5;
}

.icon-nav-icon {
  width: 20px;
  height: 20px;
}

.icon-nav-icon.fill {
  fill: #c73238;
}

.icon-nav-icon.stroke {
  stroke: #c73238;
  fill: transparent;
}

.nav-item .icon-box {
  background: #c732381a;
}

.nav-item:hover .icon-box {
  background: #c73238;
}

.nav-item:hover .icon-nav-icon.fill {
  fill: #fffefe;
}

.nav-item:hover .icon-nav-icon.stroke {
  stroke: #fffefe;
  fill: transparent;
}

.nav-item.coming-soon {
  pointer-events: none;
}

.nav-item.coming-soon .icon-box {
  background: #f5f5f5;
}

.nav-item.coming-soon .icon-nav-icon.stroke {
  stroke: #878787;
  fill: transparent;
}

.nav-item.coming-soon .icon-nav-icon.fill {
  fill: #878787;
}
/* navigation bar icon styling end */

.icon-footer-icon {
  fill: #252424;
  width: 14px;
  height: auto;
}

.terms-sections  .subHeading{
  margin-bottom: 16px;
  font-size: 18px;
    color: #423F40;
}
.terms-sections .contentClass{
  margin-bottom: 16px;
}

.ml-auto{
  margin-left: auto;
}



.DialogOverlay {
  background-color: #000000CC;
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  color: var(--mauve-12);
  font-size: 17px;
}

.DialogDescription {
  margin: 10px 0 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
}
.Button.violet {
  background-color: white;
  color: var(--violet-11);
  box-shadow: 0 2px 10px var(--black-a7);
}
.Button.violet:hover {
  background-color: var(--mauve-3);
}
.Button.violet:focus {
  box-shadow: 0 0 0 2px black;
}
.Button.green {
  background-color: var(--green-4);
  color: var(--green-11);
}
.Button.green:hover {
  background-color: var(--green-5);
}
.Button.green:focus {
  box-shadow: 0 0 0 2px var(--green-7);
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet-11);
  position: absolute;
  top: 10px;
  right: 10px;
}
.IconButton:hover {
  background-color: var(--violet-4);
}
.IconButton:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}

.Fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}

.Label {
  font-size: 15px;
  color: var(--violet-11);
  width: 90px;
  text-align: right;
}

.Input {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  color: var(--violet-11);
  box-shadow: 0 0 0 1px var(--violet-7);
  height: 35px;
}
.Input:focus {
  box-shadow: 0 0 0 2px var(--violet-8);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal.slideRight.open {
  animation: modalSlideRight 0.5s;
}

/* Table Styles */


.custom-table thead tr th:first-child{
  padding-left: 3rem;
  text-align: left;
  border-top-left-radius: 10px;
  /*border-top-left-radius: 6px;*/
  /*border-bottom-left-radius: 6px;*/
}

.custom-table table, th {
  border-collapse: collapse;
}

.custom-table thead tr th{
  padding: 18px 24px;
  font-size: 14px;
  height: 42px;
  @apply text-white-700;
  font-weight: 400;
  position: sticky;
  top: 0;
  text-align: left;
}

.custom-table thead tr th:last-child{
  text-align: center;
  border-top-right-radius: 10px;
  /*padding:12px 32px 12px 16px;*/
}
.custom-table thead{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
}
.custom-table tbody{
  /*@apply bg-black-600;*/
}

.custom-table tbody tr:first-child td{
  padding-top: 20px !important;
}
.custom-table tbody tr:last-child td{
  padding-bottom: 20px !important;
}
.custom-table tbody tr td {
  padding: 18px 24px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  @apply text-white-700;
}

.custom-table tbody tr td:first-child{
  /*pl-10 pr-4 py-3*/
  padding: 12px 4px 12px 40px;
}
.custom-table tbody tr td:last-child{
  text-align: center;
}
.custom-table.assets-table thead tr th:nth-child(2), .custom-table.assets-table tbody tr td:nth-child(2){
  text-align: center !important;
}


